@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300|PT+Sans+Narrow');

body {
  background-color: #BCB6BD;
  margin: 10px;
}

h1 {
  margin: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 30px;
}

p {
  font-family: 'Dosis', sans-serif;
  color: white;
  line-height: 25px;
}

.team {
  opacity: 0.0;
  text-align: center;
}

.team img {
  width: 0px;
  height: auto;
  border-radius: 100%;
}

#intro {
  margin: 10px;
  padding: 10px;
  border: 10px #706270 solid;
  border-radius: 15px;
  background-color: #626E70;
}

#intro h1 {
  margin: 10px;
}

#intro p {
  margin: 10px;
  text-indent: 15px;
}

.container {
  text-align: center;
  width: 100%;
  height: 400px;
}

.box {
  margin: 10px;
  padding: 10px;
  border: 10px #706270 solid;
  border-radius: 15px;
  background-color: #626E70;
  width: 200px;
  height: auto;
  display: inline-block;
  opacity: 0.5;
}

.box h1 {
  margin: 10px;
}

.box p {
  margin: 10px;
  text-indent: 15px;
}
